@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: font-ready;
    src: url("assets/fonts/main-font.ttf");
}

:root {
    --bg-color: #0f1030;
    --bg-color2: #262752;
    --text-color: #f0f8ff;
    --title-color: #ac74ff;
    --main-font: font-ready
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* HEADER */
header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 8vh;
    background-color: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px 2px black;
}

.header__icon {
    width: 120px;
    margin: 0 50px;
}

.menu-nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.menu-nav a{
    position: relative;
    text-decoration: none;
    font-size: 2rem;
    margin-right: 60px;
    color: var(--title-color);
}

.menu-nav a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: var(--text-color);
    transition: .3s;
}

.menu-nav a:hover::before {
   width: 100%;
}

/* POSTER */
.main-poster {
    width: 100%;
    height: 92vh;
    overflow: hidden;
}

.main-poster img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 8vh;
    width: 100%;
    height: 92vh;
    background: linear-gradient(90deg, transparent 10%, rgba(15, 16, 48, 1));
    z-index: 1;
}

.main-poster__info {
    position: absolute;
    width: 800px;
    height: 600px;
    top: 21%;
    right: 12%;
    z-index: 10;
}

.main-poster__info h1 {
    text-align: center;
    font-size: 18rem;
    line-height: 0.75;
    background: linear-gradient(blue, pink);
    font-family: var(--main-font), sans-serif;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.main-poster__info p {
    text-align: center;
    font-size: 2.5rem;
    margin-top: 30px;
    color: var(--text-color);
}