@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #0f1030;
    --nav-color: #ac74ff
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
}

@font-face {
    font-family: font-ready;
    src: url("assets/fonts/main-font.ttf");
}

/* HEADER */
header {
    width: 100%;
    height: 8vh;
    background-color: red;
}

nav {
    height: 100%;
}

.menu-nav {
    display: flex;
    width: 100%;
    padding: 0px 80px;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    background-color: var(--primary-color);
}

.menu-nav a{
    text-decoration: none;
    font-size: 2rem;
    color: var(--nav-color);
}

.menu-nav li {
    padding: 5px;
}

.menu-nav li:hover {
    border-bottom: solid 2px white;
    transition: 0.1s ease all;
}

/* POSTER */
.main-poster {
    width: 100%;
    height: 92vh;
}

.main-poster img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-poster__info {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.main-poster{

}
